form.ui.form textarea {
    height: 500px;
}

form.ui.form label {
    font-size: 1.05em;
    margin-right: 1em;
}

form.ui.form button {
    margin: auto;
}

.buttons button.ui.orange.button {
    padding: .78571429em 1.5em .78571429em;
    color: rgb(97, 97, 97);
    background-color: rgb(187, 187, 187);
}

div.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}
