<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.a205.model.memberhascategorymapper">
	<insert id="insert"  parameterType="member_has_category">
		insert into `member_has_category`(m_id, ca_id )
		  values(#{m_id}, #{ca_id} )
	</insert>
 	
 	<select id="selectByM_id" resultType="java.lang.String" parameterType="int">
		select distinct ca_highCd from `category`
		where ca_id in (select ca_id from `member_has_category` where m_id = #{m_id})

	</select>
	
	<delete id="delete" parameterType="int">
			delete from `member_has_category` 
			where m_id=#{m_id}
	</delete>
	
 </mapper>