<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a205.model.volmapper">
	<select id="select" resultType="java.lang.String" parameterType="java.util.Map">
		select v_title from vol
		limit #{listSize} offset #{startList}
	</select>
	
	<!-- <select id="select" resultType="Vol" parameterType="int">
		select * from vol
		where v_id = #{v_id};
	</select> -->
	
</mapper>