<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a205.model.volmapper">

	<select id="selectList" resultType="volmini"
		parameterType="java.util.Map">
		select v.v_id, v.v_title, v.v_pStatus, v.v_pBgnD,
		v.v_pEndD, v.v_mBgnD, v.v_mEndD, r.r_sidoNm, r.r_gugunNm, c.ca_highNm,
		c.ca_lowNm, v.v_Auth, v.v_x, v.v_y
		from `vol` v, `category` c, `region` r
		where v.ca_id = c.ca_id and v.r_id = r.r_id
		limit #{listSize} offset
		#{startList}
	</select>

	<select id="selectByFilter" resultType="vol"
		parameterType="myfilter">
		select v_id, v_title, v_pStatus, v_pBgnD, v_pEndD, v_mBgnD, v_mEndD,
		r_id, ca_id, v_Auth, v_x, v_y from `vol` where (v_pStatus between 1 and
		3)
		
		<choose>
			<when test="m_age == null">
				and v_id is not null
			</when>
			<when test="m_age == '1992-01-01'">
				and ( v_adult = 'Y')	
			</when>
			<otherwise>
				 and (v_young = 'Y')
			</otherwise>
		</choose>
		
		
		
		
		<choose>
			<when test="v_pBgnD != null and v_pEndD != null">
				and <![CDATA[v_pBgnD >= #{v_pBgnD} and v_pEndD <= #{v_pEndD}]]>
			</when>
			<when test="v_bgnTm != null and v_endTm != null">
				and <![CDATA[v_bgnTm >= #{v_bgnTm} and v_endTm <= #{v_endTm}]]>
			</when>
			<otherwise>
				and v_id is not null
			</otherwise>

		</choose>
		and
		( 
		r_id in
			(
			<choose>
				<when test="r_sidoNm3 != null and r_gugunNm3 != null">
					(select r_id from region where r_sidoNm = #{r_sidoNm3} and r_gugunNm = #{r_gugunNm3})
					,(select r_id from region where r_sidoNm = #{r_sidoNm2} and r_gugunNm = #{r_gugunNm2})
 					,(select r_id from region where r_sidoNm = #{r_sidoNm1} and r_gugunNm = #{r_gugunNm1})					 
				</when>
				<when test="r_sidoNm2 != null and r_gugunNm2 != null">
				
					(select r_id from region where r_sidoNm = #{r_sidoNm2} and r_gugunNm = #{r_gugunNm2})
 					,(select r_id from region where r_sidoNm = #{r_sidoNm1} and r_gugunNm = #{r_gugunNm1})					 
					 
				</when>
			
				<when test="r_sidoNm1 != null and r_gugunNm1 != null">
					 (select r_id from region where r_sidoNm = #{r_sidoNm1} and r_gugunNm = #{r_gugunNm1})					 
				</when>
				<otherwise>
					select r_id from region
				</otherwise>
	
			</choose>
			)
		)
		and
		<choose>
			<when test="vol_title !=null">

				(
				v_location like CONCAT('%',#{vol_title},'%')
				or
				v_title like
				CONCAT('%',#{vol_title},'%')
				or
				v_organ like
				CONCAT('%',#{vol_title},'%')
				or
				v_detail like
				CONCAT('%',#{vol_title},'%')
				)
			</when>
			<otherwise>
				v_id is not null
			</otherwise>

		</choose>
		and
		(
		ca_id in
			(
			<choose>
				<when test="ca_highNm3 !=null">
				(
				select ca_id from category 
				where 
				ca_highNm = #{ca_highNm1}
				or
			 	ca_highNm = #{ca_highNm2}
				or
				ca_highNm = #{ca_highNm3} 
				)
				
				</when>
				<when test="ca_highNm2 !=null">
				(
				select ca_id from category 
				where 
				ca_highNm = #{ca_highNm1}
				or
			 	ca_highNm = #{ca_highNm2}
				)
				</when>
				<when test="ca_highNm1 !=null">
				 (select ca_id from category where ca_highNm = #{ca_highNm1})
				</when>
				<otherwise>
					select ca_id from category
				</otherwise>
			</choose>
			)
		)
		order by
		v_pBgnD DESC
		limit #{listSize} offset #{startList}
	</select>


	<select id="selectByFilter2" resultType="vol"
		parameterType="myfilter">
		select v_id, v_title, v_pStatus, v_pBgnD, v_pEndD, v_mBgnD, v_mEndD,
		r_id, ca_id, v_Auth, v_x, v_y from `vol` where v_pStatus between 1 and
		3
		<choose>
			<when test="v_pBgnD != null and v_pEndD != null">
				and <![CDATA[v_pBgnD >= #{v_pBgnD} and v_pEndD <= #{v_pEndD}]]>
			</when>
			<when test="v_bgnTm != null and v_endTm != null">
				and <![CDATA[v_bgnTm >= #{v_bgnTm} and v_endTm <= #{v_endTm}]]>
			</when>
			<when test="r_sidoNm != null and r_gugunNm != null">
				and r_id in (select r_id from region where r_sidoNm =
				#{r_sidoNm} and r_gugunNm = #{r_gugunNm})
			</when>
			<when test=" vol_title !=null">
				and
				(
				v_location like CONCAT('%',#{vol_title},'%')
				or
				v_title like
				CONCAT('%',#{vol_title},'%')
				or
				v_organ like
				CONCAT('%',#{vol_title},'%')
				or
				v_detail like
				CONCAT('%',#{vol_title},'%')
				)
			</when>
			<when test="ca_highNm !=null">
				and ca_id in (select ca_id from category where
				ca_highNm = #{ca_highNm})
			</when>
			<otherwise>
				and v_id is not null
			</otherwise>
		</choose>
		limit #{listSize} offset #{startList}
	</select>

	<select id="selectOne" resultType="vol" parameterType="int">
		select *
		from vol
		where v_id = #{v_id}
	</select>

	<select id="update" parameterType="vol">
		update vol set
		v_bgnTm =
		#{v_bgnTm},
		v_endTm = #{v_endTm},
		v_appnow = #{v_appnow},
		v_target = #{v_target}
		where v_id = #{v_id}
	</select>

</mapper>