.user-profile button.ui.orange.button {
    padding: 0.2rem;
    font-size: 1rem;
    float: right;
}

div.user-profile {
    display: block;
    font-size: 0.75rem;
    color: rgb(156, 156, 156)

}

div.user-profile div div {
    display: inline;
    margin-right: 1rem;
}