.user-profile button.ui.orange.button {
    padding: 0.2em;
    font-size: 1em;
    float: right;
}

div.user-profile {
    display: block;
    font-size: 0.75em;
    color: rgb(156, 156, 156)

}

div.user-profile div div {
    display: inline;
    margin-right: 1em;
}