.user-profile button.ui.orange.button {
    padding: 0.2rem;
    font-size: 1rem;
    float: right;
}

div.user-profile {
    display: block;
    font-size: 0.75rem;
    color: rgb(156, 156, 156)

}

div.user-profile div{ 
    #userId{
        font-weight: 700;
        font-size: 1.28571429rem;
        margin-top: -.21425rem;
        line-height: 1.28571429rem;
        color: rgba(0,0,0,.85);
        display : block;
    }
    div{
        display: inline;
        margin-right: 1rem;
        span{
            position: relative;
            left : 40px;
        }
    }
}