<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.map.dto.Region" alias="region" />
		<typeAlias type="com.map.dto.Vol" alias="vol" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/regionmapper.xml"></mapper>
		<mapper resource="mapper/volmapper.xml"/>
	</mappers>

</configuration>