<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.a205.dto.Post" alias="post" />
		<typeAlias type="com.a205.dto.Comment" alias="comment" />
		<typeAlias type="com.a205.dto.Member" alias="member" />
		<typeAlias type="com.a205.dto.Vol"	alias="Vol"/>
		<typeAlias type="com.a205.dto.Region"	alias="Region"/>
		<typeAlias type="com.a205.dto.Category"	alias="Category"/>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/membermapper.xml" />
		<mapper resource="mapper/postmapper.xml" />
		<mapper resource="mapper/commentmapper.xml" />
		<mapper resource="mapper/VolunteerMapper.xml" />
	</mappers>

</configuration>