<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.a205.dto.Post" alias="post" />
		<!-- <typeAlias type="com.a205.dto.Comment" alias="comment" /> -->
		<typeAlias type="com.a205.dto.Member" alias="member" />
		<typeAlias type="com.a205.dto.Vol" alias="vol" />
		<typeAlias type="com.a205.dto.Vol_Mini" alias="volmini" />
		<typeAlias type="com.a205.dto.Follow" alias="follow" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/membermapper.xml" />
		<mapper resource="mapper/postmapper.xml" />
		<!-- <mapper resource="mapper/commentmapper.xml" /> -->
		<mapper resource="mapper/volmapper.xml"/>
		<mapper resource="mapper/followmapper.xml"/>
	</mappers>

</configuration>