
.ui .celled .unstackable .table {
    padding: 10px;
}

td.head {
    font-weight: 600;
    border-left: none;
    border-right: none;
    /* width: 77px; */
}

td.content {
    word-break: keep-all;
}

table.ui.table {
    border: none;
    border-bottom: 1px solid rgba(34,36,38,.1);
    border-top: 1px solid rgba(34,36,38,.1);
}

div.buttons {
    margin-top: 10px;
    display: flex;
}


div.buttons a {
    margin: auto;
}

.buttons button.ui.button {
    margin: 0;
    background-color: rgba(255, 136, 0, 0.493);
    padding: 1em;

}


a button:hover {
    color: orange;
}

a.ui.button {
    margin: auto;
    padding: 1em;
    background-color: #FD7317;
    color: white
}

div.title {
    line-height: 1.5em;
    word-break: keep-all;
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: bold;

}