<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="employee">
<!-- 	<resultMap id="EmpResult" type="Emp">
		<result property="num" column="num" />
		<result property="name" column="name" />
		<result property="address" column="address" />
	</resultMap> resultMap="CustomerResult"-->

	<select id="findAllEmps" resultType="Emp">
		select * from emp
	</select>

	<select id="findEmpById" resultType="Emp" parameterType="java.lang.String">
		select * from emp where id = #{id}
	</select>
	
	<select id="getEmpsTotal" resultType="int">
		select count(*) from emp
	</select>
	
	<select id="findLikeEmps" resultType="Emp" parameterType="java.lang.String">
		select * from emp where name like concat('%', #{name}, '%')
	</select>
	
	<select id="findAllDepts" resultType="Dept">
		select * from dept
	</select>
	
	<select id="findAllTitles" resultType="Emp">
		select distinct title from emp
	</select>

	<insert id="addEmp" parameterType="Emp"><!--  -->
		insert into emp values(#{id}, #{name}, #{mailid}, sysdate(), #{manager_id}, #{title}, #{dept_id}, #{salary}, #{commission_pct})
	</insert>

	<update id="updateEmp" parameterType="Emp"><!-- id기준  -->
		update emp set name = #{name}, mailid = #{mailid}, start_date = #{start_date}, manager_id = #{manager_id}, title = #{title}, dept_id = #{dept_id}, salary = #{salary}, commission_pct = #{commission_pct} where id = #{id}
	</update>

	<delete id="deleteEmp" parameterType="java.lang.String"><!--  -->
		delete from emp where id = #{id}
	</delete>
	
	<select id="findEmpByMgrId" resultType="Emp" parameterType="int">
		select * from emp where manager_id = #{manager_id}
	</select>
	
	<select id="findAllDeptEmps" resultType="DeptEmp">
		select e.id, e.name "ename", e.mailid, d.dept_id, d.name "dname"
		from emp e left join dept d
		on e.dept_id = d.dept_id;
	</select>
	
	<select id="findAllDepCounts" resultType="DeptCount">
		select d.dept_id, d.name "dname", count(e.id) "count"
		from emp e right join dept d
		on e.dept_id = d.dept_id
		group by d.dept_id;
	</select><!-- count(*)하면 120부서 0명이 아니어서 틀린다! -->
	
	<select id="findDeptByname" resultType="Emp"  parameterType="java.lang.String">
		select * from emp where dept_id in (select dept_id from dept where name like concat('%', #{name}, '%'))
	</select> <!-- 이너 조인해서 그냥 select * 해도 됨 --> <!-- 그냥 like검색으로 만듬 -->
	
	<select id="findDeptBydeptid" resultType="Emp" parameterType="int">
		select * from emp where dept_id = #{dept_id}
	</select>
	
</mapper>
