* {
    font-family: "NanumBarunGothic", sans-serif;
    word-break: keep-all;
    padding: 0;
    margin: 0;
}

// 버튼 css 시작
button:disabled,
button[disabled] {
    background-color: #707070;
    color: #ffffff;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.my--btn {
    width: 100%;
    background-color: #ffa263;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
    float: right;
    color: black;
    outline: none;
    text-align-last: center;
    cursor: pointer; // 이 속성이 있어야 마우스 포인터를 버튼에 올렸을 때 손가락 모양으로 바뀝니다.

    &.disabled {
        background-color: #707070;
        color: #ffffff;
    }
}