@charset "utf-8";
@import "../css/common"; // common 에서 필요한거 빼와야 하겠죠?
* {
  font-family: "NanumBarunGothic", sans-serif;
  word-break: keep-all;
  padding: 0;
  margin: 0;
}

// 버튼 css 시작
button:disabled,
button[disabled] {
  background-color: #707070;
  color: #ffffff;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.my--btn {
  width: 100%;
  background-color: #ffa263;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  outline: none;
  text-align-last: center;
  cursor: pointer; // 이 속성이 있어야 마우스 포인터를 버튼에 올렸을 때 손가락 모양으로 바뀝니다.

  &.disabled {
    background-color: #707070;
    color: #ffffff;
  }
}
// 버튼 css 끝

// Input css 시작
.input-with-label {
  input[type="text"],
  input[type="password"] {
    @include wrap;
    height: 50px;
    line-height: 1em;
    padding: 0 15px 0 105px;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    &:hover,
    &:focus {
      border: 2px solid #000;
    }
    &.error {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $red;
    }
    &.complete {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $ssafy;
    }
    &.disabled {
      background: #eee;
      color: #333;
      font-weight: $f600;
      &:hover,
      &:focus {
        border: 1px solid #000;
      }
    }
  }
  input[type="password"] {
    padding-right: 50px;
  }
  label {
    position: absolute;
    left: 15px;
    top: 19px;
    color: #000;
    font-weight: $f600;
    font-size: $font-size__5;
  }
}
// Input css 끝

// 에러 메세지 css 시작
.error-text {
  @include wrap;
  color: $red;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
// 에러 메세지 css 끝
