@charset "utf-8";

.main--text {
  position: relative;
  font-size: 20px;

  #text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;

    #bold {
      position: relative;

      #image {
        position: absolute;
        left: 60%;
        transform: translateX(-50%);
        top: -300%;
      }
      .circle{
        position : absolute;
        left: 50%;
        top : -250%;
        transform : translateX(-50%);
        
    border-radius: 50%;
    background: rgba(255, 162, 99,0.9);
      padding-left: 7px;
      padding-right: 7px;
      padding-top : 15px;
      padding-bottom: 15px;
      font-size: 16px;
      }
    }
  }
}

.circle{
    // background: #f00;
    // width: 200px;
    // height: 200px;
  // transform : translate(-50%,-50%);
  // border-radius: '15px';
  // color: '#000';
  // textAlign: 'center';
  // fontWeight: 'bold';
  // lineHeight: '31px;
}