.user-profile {
    border-style: solid;
    border-color: #000000;
    margin: 50px;
    position: relative;

    #btn-div {
        position: absolute;
        left: 70%;
        top: 0;
        width: 90px;
    }
}

#follow-button {}